body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Eater';
}

.snowball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.model_image {
    width: 200px;
    height: 300px;
    margin: 20px;
}

#model_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}